.final-page{
    width: 100%;

    display: none;
    align-items: center;
    flex-direction: column;
}
.check{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    background-color: lightgreen;

    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-check{
    color: #fff;
    font-size: 40px;
}

.span-final{
    color: #757575;
    margin-top: 30px;
    text-align: center ;
}